<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272365971408-3ci580ui67i2lqu601p062atkb0jm556.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272365971408-3ci580ui67i2lqu601p062atkb0jm556</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272365971408-brfqvg022tqd93fpcmu1a99smhl6hhl3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDASouYZlB049ITLYbFuWo1rLqhowrQNZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>272365971408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PokedexApp</string>
	<key>PROJECT_ID</key>
	<string>pokedex-8b6c1</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-8b6c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272365971408:ios:8f388cc5f9f1aa02167bd5</string>
</dict>
</plist>